@import "./variables"; /**
 * reset
 * @type {[type]}
 */

a {
  text-decoration: none;
  color:inherit;
  outline: none;
  &:active,
  &:hover,
  &:link,
  &:visited {
    text-decoration: none;
    color:inherit;
    outline: none;
  }
}
/**
 * layout
 * @type {[type]}
 */

.width(@width) {
  width: @width;
}

.height(@height) {
  height: @height;
}

.size(@width, @height) {
  .width(@width);
  .height(@height);
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.layout-center {
  margin: 0 auto;
}
/**
 * color
 * @type {[type]}
 */
.color(@color) {
  color: @color;
}

.orange {
  .color(@main-color);
}

.white {
  .color(#fff);
}

.gray-bg {
  background: @gray-nav-bg;
}

.gray-body {
  padding: 130px 0 170px;
  background: @gray-body-bg;
}
.container{
  padding: 130px 0 170px;
}
.bg(@bg-color){
  background: @bg-color;
}
/**
 * border
 * @type {[type]}
 */

.border-radius(@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.border(@width, @solid, @color) {
  border: @width @solid @color;
}
/**
 * text and fonts
 * @type {[type]}
 */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.fontSize(@fontSize) {
  font-size: @fontSize;
}
